* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  background-image: url("lightlantex.jpeg");
  background-size: 40%;
  background-position: center;
  background-color: #777;

  background-blend-mode: overlay;
  backdrop-filter: blur(4px);

  width: 100%;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;

  width: 100%;

  border: 1px solid transparent;
  border-bottom-color: rgb(221, 226, 226);
  background-color: #1d1f22c7;
  box-sizing: border-box;
  box-shadow: 0px 9px 15px #000;
  /* margin-left: 5px;
  margin-right: 5px; */
}

header #menu_button {
  position: absolute;
  right: 2rem;
  top: 1rem;
}

header .heading_text {
  width: 85%;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  padding-top: 1rem;
  padding-bottom: 1rem;
}

header .heading_text h1 {
  font-size: 320%;
  margin-left: 15%;

  background-clip: text;
  color: transparent;
  -webkit-background-clip: text;
  background-image: linear-gradient(to top, cyan, blue);
}

header .heading_text small {
  margin-left: 15%;

  background-clip: text;
  color: transparent;
  -webkit-background-clip: text;
  background-image: linear-gradient(to top, cyan, blue);

  text-shadow: 2px 1px 2px #000;
}

#offcanv_cont_head {
  border: 1px solid transparent;
  border-bottom-color: #000;

  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

#offcanv_cont_head h2 {
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  background-image: linear-gradient(
    to top,
    rgb(14, 13, 13),
    rgb(218, 218, 218)
  );

  text-decoration: underline;
}

#offcanv_cont_body ul li button {
  font-weight: lighter;
  font-size: 20px;
  text-shadow: 2px 1px 0px #000;

  margin-top: 3px;
  margin-bottom: 5px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

#offcanv_cont_body ul li button i,
#dropdown_menu i {
  margin-right: 11px;
  width: 25px;
  font-size: 25px;
  color: cyan;
}

#offcanv_cont_body ul li button i:hover,
#dropdown_menu i:hover {
  color: rgb(75, 255, 84);
}
/* 
#offcanv_cont_body ul li:hover {
  font-size: 22px;
  color: rgba(0, 255, 98, 0.658);
  text-shadow: 2px 1px 0px #000;
} */

#offcanv_cont_body ul li button {
  width: 90%;
  display: flex;
  justify-content: flex-start;
  background-color: transparent;
  font-weight: lighter;
  font-size: 22px;

  padding-top: 0px;
  margin-top: 0px;
}

#dropdown_menu {
  margin-bottom: 4px;
  background-color: rgba(24, 25, 26, 0.932);
}

#offcanv_cont_body ul li button:hover {
  background-color: #2d4a57;
}

#offcanv_cont_body ul li a {
  color: #fff;
  text-decoration: none;
}

#offcanv_cont_body ul li a:hover {
  color: rgb(12, 204, 178);
  text-shadow: 2px 1px 0px #000;
}

#offcanv_cont_head button {
  animation: btn_rot 4s;
  animation-iteration-count: infinite;
}

#contacts_list li {
  height: 8vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

#contacts_list li a {
  margin-left: 1rem;
}

#contacts_list li a {
  position: relative;
  overflow-wrap: anywhere;
}

@keyframes btn_rot {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(360deg);
  }

  100% {
    transform: rotate(-180deg);
  }
}

#menu {
  box-shadow: 0px 1px 6px #000;
}

main {
  background-color: rgba(38, 39, 41, 0.78);
  box-shadow: 0px 1px 6px #000;
  width: 100%;
  min-height: 100vh;
  padding: 10px;
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
  flex-direction: column;
  padding-top: 30px;
}

main p {
  background-color: rgba(71, 223, 79, 0.82);
  padding: 10px;
  border: none;
  border-radius: 10px;
  position: relative;
  width: 45%;
  margin-right: 70%;
  color: #000;
}

#user_text {
  margin-left: 55%;
  background-color: #1d76fa;
}

.text_area {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
}

.text_area button {
  height: 2.9rem;
  border: none;
  width: 2.99rem;
  margin-left: 3px;
  border-radius: 50%;
  background-color: transparent;
  box-shadow: 0px 1px 6px #000000;
}

.text_area button i {
  color: cyan;
  font-size: 25px;
}

.text_area button i:hover {
  color: #fff;
}

.text_area textarea {
  /* display as a webkit box */
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  line-clamp: 3;

  width: 95%;
  height: 2.9rem;
  border: none;
  border-radius: 29px;

  background-color: #7771;
  box-shadow: 0px 1px 6px #000000;
  font-weight: lighter;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 17px;

  padding: 5px 5px 5px 5px;
  resize: vertical;
}

.text_area textarea:focus {
  /* border: none; */
  outline: none;
  /* box-shadow: none; */
}

.text_area textarea::-webkit-scrollbar {
  width: 10px;
  display: none;
}

.text_area textarea::-webkit-scrollbar-track {
  background: #777;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.text_area textarea::-webkit-scrollbar-thumb {
  background: #000;
  border: none;
  border-radius: 5px;
}

.text_area textarea::-webkit-resizer {
  display: none;
  border-radius: 10px;
}

.text_area textarea::placeholder {
  color: #fff;
  font-weight: lighter;
  font-style: normal;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
}
